#define FONT -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
#define WIDEFONT -misc-fixed-medium-r-normal-ja-13-120-100-100-c-180-iso10646-1
XTerm*faceName:     DejaVu Sans Mono
XTerm*faceSize:     10
*customization:     -color
XTerm*termName:     xterm-256color
XTerm*font:         FONT
XTerm*wideFont:     WIDEFONT
XTerm*boldFont:     FONT
XTerm*reverseWrap:  true
XTerm*loginShell:   true
XTerm*boldMode:     true
XTerm*utf8:         2
!XTerm*colorBDMode:  true
!XTerm*colorBD:      rgb:fc/fc/fc
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*eightBitInput:   true
XTerm*metaSendsEscape: true
! XTERM
XTerm*scrollBar:         false
XTerm*cursorBlink:       false
!XTerm*geometry:         80x26
XTerm*saveLines:         65535
XTerm*dynamicColors:        on
XTerm*highlightSelection: true
! Appearance
XTerm*cursorColor: #DCDCCC
!! Zenburn
XTerm*background: #3a3a3a
XTerm*foreground: #dcdccc
! Black (not tango) + DarkGrey
XTerm*color0:  #000000
XTerm*color8:  #222222
! DarkRed + Red
XTerm*color1:  #e89393
XTerm*color9:  #dca3a3
! DarkGreen + Green
XTerm*color2: #688060
XTerm*color10:  #7f9f7f
! DarkYellow + Yellow
XTerm*color3:  #f0dfaf
XTerm*color11: #efef8f
! DarkBlue + Blue
XTerm*color4:  #93b3a3
!XTerm*color12: #8cd0d3
!XTerm*color4:  #719181
XTerm*color12: #6abeb1
! DarkMangenta + Mangenta
XTerm*color5:  #bca3a3
XTerm*color13: #c0bed1
!DarkCyan + Cyan (both not tango)
XTerm*color6:  #93b3a3
XTerm*color14: #8cd0d3
! LightGrey + White
XTerm*color7:  #cccccc
XTerm*color15: #ffffff
!
UXTerm*faceName:     DejaVu Sans Mono
UXTerm*faceSize:     10
!*customization:     -color
UXTerm*termName:     xterm-256color
UXTerm*font:         FONT
UXTerm*wideFont:     WIDEFONT
UXTerm*boldFont:     FONT
UXTerm*reverseWrap:  true
UXTerm*loginShell:   true
UXTerm*boldMode:     true
UXTerm*utf8:         2
!XTerm*colorBDMode:  true
!XTerm*colorBD:      rgb:fc/fc/fc
UXTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
UXTerm*eightBitInput:   true
UXTerm*metaSendsEscape: true
! XTERM
UXTerm*scrollBar:         false
UXTerm*cursorBlink:       false
!XTerm*geometry:         80x26
UXTerm*saveLines:         65535
UXTerm*dynamicColors:        on
UXTerm*highlightSelection: true
! Appearance
UXTerm*cursorColor: #DCDCCC
!! Zenburn
UXTerm*background: #3a3a3a
UXTerm*foreground: #dcdccc
! Black (not tango) + DarkGrey
UXTerm*color0:  #000000
UXTerm*color8:  #222222
! DarkRed + Red
UXTerm*color1:  #e89393
UXTerm*color9:  #dca3a3
! DarkGreen + Green
UXTerm*color2: #688060
UXTerm*color10:  #7f9f7f
! DarkYellow + Yellow
UXTerm*color3:  #f0dfaf
UXTerm*color11: #efef8f
! DarkBlue + Blue
UXTerm*color4:  #93b3a3
!XTerm*color12: #8cd0d3
!XTerm*color4:  #719181
UXTerm*color12: #6abeb1
! DarkMangenta + Mangenta
UXTerm*color5:  #bca3a3
UXTerm*color13: #c0bed1
!DarkCyan + Cyan (both not tango)
UXTerm*color6:  #93b3a3
UXTerm*color14: #8cd0d3
! LightGrey + White
UXTerm*color7:  #cccccc
UXTerm*color15: #ffffff
